@if (user(); as user) {
    <div class="label tui-space_bottom-4">Ваш QR-код: {{ user.qr_code }}</div>
    <qrcode
        [qrdata]="'user_' + user.qr_code"
        [width]="600"
        [margin]="0"
        elementType="img"
    ></qrcode>

    <div class="label tui-space_top-16">Стиль музыки</div>

    <div class="music-style tui-space_top-4">{{ user.music_genre }}</div>

    <ui-button (click)="signOut()" style="margin-top: auto; width: 100%" type="secondary">Выйти</ui-button>

    <div class="footer-space"></div>
}
