<div class="code-border">
<!--    <input #input [maskito]="mask" [formControl]="control1" type="number" />-->
    <div class="value">{{hiddenControl.value?.[0]}}</div>
</div>
<div class="code-border">
<!--    <input #input [maskito]="mask" [formControl]="control2" type="number" />-->
    <div class="value">{{hiddenControl.value?.[1]}}</div>
</div>
<div class="code-border">
<!--    <input #input [maskito]="mask" [formControl]="control3" type="number" />-->
    <div class="value">{{hiddenControl.value?.[2]}}</div>
</div>
<div class="code-border">
<!--    <input #input [maskito]="mask" [formControl]="control4" type="number" />-->
    <div class="value">{{hiddenControl.value?.[3]}}</div>
</div>
<input class="hidden" [maskito]="hiddenMask" [formControl]="hiddenControl" inputmode="numeric" />
