:host {
    position: relative;
    display: flex;
    gap: .5rem;
    width: 100%;
    height: 72px;
}

.code-border {
    height: 72px;
    flex: 1;
    border: solid 2px var(--color-white);
    border-radius: .75rem;
    box-sizing: border-box;
}

input {
    padding: 0;
    border: none;
    font-size: 40px;
    font-weight: 900;
    line-height: 68px;
    text-align: center;
}
