<div class="header tui-space_bottom-4">
    <div class="number">0{{ data.id }}</div>
    <div [class.status_active]="done" class="status">{{ statusText }}</div>
</div>

<div class="text text-title tui-space_bottom-2">{{ data.title }}</div>
<div class="text text-body tui-space_bottom-4">{{ data.body }}</div>

<div class="space"></div>

<ui-button (click)="openMap.emit()" class="tui-space_bottom-2" type="card">
    <svg-icon class="tui-space_right-3" src="assets/marker.svg"></svg-icon>
    Как добраться?
</ui-button>

<ui-button (click)="openPresentation.emit()" type="card">
    <svg-icon class="tui-space_right-3" src="assets/announcement.svg"></svg-icon>
    Подробнее
</ui-button>
