<div class="tui-space_bottom-6 text-title">Информация по участнику</div>
<div class="text-body tui-space_bottom-8">
    <p *ngIf="user()?.fullname">{{ user()?.fullname }}</p>
    <p *ngIf="user()?.email">{{ user()?.email }}</p>
    <p
        *ngIf="user()?.music_genre"
        class="text-primary"
    >
        {{ user()?.music_genre }}
    </p>
</div>
<div [formGroup]="formGroup">
    <div class="text-label tui-space_bottom-4">Введите комментарий</div>
    <tui-textarea
        [tuiTextfieldLabelOutside]="true"
        [expandable]="true"
        formControlName="comment"
        class="tui-space_bottom-8"
    ></tui-textarea>

    <div class="text-label tui-space_bottom-4">Выберите стенд</div>
    <tui-select
        [valueContent]="content"
        [tuiTextfieldLabelOutside]="true"
        formControlName="stand"
    >
        Не выбрано
        <tui-data-list-wrapper
            *tuiDataList
            [itemContent]="content"
            [items]="stands()"
        ></tui-data-list-wrapper>
    </tui-select>
</div>
<div class="space"></div>
<ui-button
    class="tui-space_vertical-4"
    (click)="submit()"
>
    Отправить
</ui-button>
<ui-button
    (click)="cancel()"
    type="secondary"
>
    Отмена
</ui-button>

<ng-template
    #content
    let-data
>
    {{ data.title }}
</ng-template>
