:host {
    position: relative;
    display: block;
    width: 88px;
    min-width: 88px;
    height: 88px;
}

.svg-container {
    position: absolute;
    left: -18px;
    top: -18px;
}

.icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.path {
    stroke: white;
    stroke-opacity: 0.2;

    &_active {
        stroke: #a56eff;
        stroke-opacity: 1;
    }
}
