<ui-button (click)="back()" class="tui-space_bottom-8" type="close-black"></ui-button>
<div class="text-title tui-space_bottom-4">HR - Сервисы</div>
<img class="tui-space_bottom-4" src="assets/presentations/image.png">
<div class="text-body">Улучшите внутреннюю коммуникацию, ускорьте найм персонала и объедините ИТ-сервисы с мобильным
    корпоративным порталом ТерраЛинк Разработка!
</div>
<table class="tui-space_bottom-8">
    <tbody>
    <tr class="text-d-header">
        <td>1.&nbsp;</td>
        <td>Решение для рекрутинга и пребординга персонала</td>
    </tr>
    <tr class="text-d-body">
        <td></td>
        <td>Возможность проведения как индивидуального, так и массового рекрутинга персонала с использованием искусственного интеллекта</td>
    </tr>

    <tr class="text-d-header">
        <td>2.&nbsp;</td>
        <td>Решение для автоматизации HR процессов</td>
    </tr>
    <tr class="text-d-body">
        <td></td>
        <td>Удобное заполнение анкеты кандидата, ознакомления с оффером и его принятия прямо в веб приложении</td>
    </tr>
    </tbody>
</table>
<ui-button [type]="buttonType()" (click)="openSend()"><span class="text-button">Запросить презентацию решений</span></ui-button>
