<ui-button (click)="back()" class="tui-space_bottom-8" type="close-black"></ui-button>
@if(meta(); as meta) {
    <div class="text-title tui-space_bottom-4">{{ meta.title }}</div>
    <img class="tui-space_bottom-4" src="assets/presentations/{{meta.imgPath}}">
    <div class="text-body">{{meta.body}}</div>
    @if (meta.paragraphs.length) {
        <table>
            <tbody>
            @for (p of meta.paragraphs; track p; let idx = $index) {
                <tr class="text-d-header">
                    <td>{{idx + 1}}.&nbsp;</td>
                    <td>{{ p.title }}</td>
                </tr>
                <tr class="text-d-body">
                    <td></td>
                    <td>{{ p.body }}</td>
                </tr>
            }
<!--            <tr class="text-d-header">-->
<!--                <td>1.&nbsp;</td>-->
<!--                <td>Решение для рекрутинга и пребординга персонала</td>-->
<!--            </tr>-->
<!--            <tr class="text-d-body">-->
<!--                <td></td>-->
<!--                <td>Возможность проведения как индивидуального, так и массового рекрутинга персонала с использованием искусственного интеллекта</td>-->
<!--            </tr>-->
<!--            <tr class="text-d-header">-->
<!--                <td>2.&nbsp;</td>-->
<!--                <td>Решение для автоматизации HR процессов</td>-->
<!--            </tr>-->
<!--            <tr class="text-d-body">-->
<!--                <td></td>-->
<!--                <td>Удобное заполнение анкеты кандидата, ознакомления с оффером и его принятия прямо в веб приложении</td>-->
<!--            </tr>-->
            </tbody>
        </table>
    }
    <ui-button class="tui-space_top-8" [type]="buttonType()" (click)="openSend()"><span class="text-button">Запросить презентацию решений</span></ui-button>
}
