<div class="tui-space_bottom-8 text-title">Правила игры</div>
<div class="text-body">
    <p>
        Добро пожаловать в мир нашего цифрового оркестра, где приложение проведет Вас сквозь удивительное путешествие.
    </p>
    <p>
        Посетите наши стенды и соберите все фрагменты мелодии. Каждый QR код на стенде уникален - просто отсканируйте
        его, чтобы создать волшебную гармонию звуков. Собирать фрагменты можно в любом порядке!
    </p>
</div>
<div class="space"></div>
<ui-button (click)="goToGame()">Собрать мелодию</ui-button>
<ui-button class="tui-space_top-4" type="secondary" (click)="signOut()">Вернуться</ui-button>
