<ui-button
    (click)="back()"
    class="tui-space_bottom-8"
    type="close-black"
></ui-button>
@if(meta(); as meta) {
<div class="text-title tui-space_bottom-4">{{ meta.title }}</div>
<img
    *ngIf="meta.image_path"
    class="tui-space_bottom-4"
    src="{{ meta.image_path }}"
/>
<div class="text-body">{{ meta.body }}</div>
@if (meta.paragraphs.length) {
<table>
    <tbody>
        @for (p of meta.paragraphs; track p; let idx = $index) {
        <tr class="text-d-header">
            <td>{{ idx + 1 }}.&nbsp;</td>
            <td>{{ p.title }}</td>
        </tr>
        <tr class="text-d-body">
            <td></td>
            <td>{{ p.body }}</td>
        </tr>
        }
    </tbody>
</table>
}
<ui-button
    class="tui-space_top-8"
    [type]="buttonType()"
    (click)="openSend()"
>
    <span class="text-button">Запросить презентацию решений</span>
</ui-button>
}
