<img class="tui-space_bottom-16 logo" src="assets/logo.png" />
<div class="tui-space_bottom-8 text-body">Приветствуем вас<br />на IT конференции</div>
<div class="text-title-1">Бизнес</div>
<div class="text-title-2">как оркестр</div>
<div class="space"></div>
<div class="tui-space_bottom-4 text-body">Отсканируйте Ваш личный<br />QR код с бейджа для входа</div>
<ui-button (click)="openScanner()" class="tui-space_bottom-4">
    <svg-icon class="tui-space_right-2" src="assets/qr-code.svg" style="display: flex"></svg-icon>
    Отсканировать
</ui-button>
<ui-button (click)="goToAuth()" class="tui-space_bottom-4" type="secondary">Войти по телефону</ui-button>
<ui-button (click)="goToRegister()" type="secondary">У меня нет QR кода</ui-button>
