<div class="header tui-space_bottom-8">
    <div class="tui-space_right-4">Соберите все&nbsp;фрагменты мелодии</div>
    <game-play></game-play>
</div>

<swiper-container slides-per-view="1">
    @for (card of cards(); track card.id) {
        <swiper-slide><game-card (openMap)="goToMap()" [data]="card"></game-card></swiper-slide>
    }
</swiper-container>

<game-pager class="tui-space_top-4" [count]="cards().length" [activeIdx]="cardIndex()"></game-pager>

<ui-button class="tui-space_top-12" type="secondary">Получить фрагмент</ui-button>
<div (click)="goToMap()" class="tui-space_top-4 text-button">Карта мероприятия</div>
